<h1>Welcome to <%= @user.username %>'s Profile </h1>

<div align="center">
    
</div>

<% for media_item in @client.user_recent_media %>
    <div style='float:left;'><img src=<%= media_item.images.thumbnail.url %>><br/> 
    Likes: <%= media_item.likes[:count] %> </div>
<% end %>

<%# <%= link_to 'Logout', logout_path, method: :delete %>

