@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.center{
    text-align: center;
}
  
.jumbotron{
    margin-top: 30px;
    background-size: cover;
    height: 350px;
}

.jumbotron h1{
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: -1px;
    font-weight: bold;
}
  
.btn-xlarge{
    font-size: 1.7em;
}

.page-title{
    margin: 50px;
}

.media_item{
    padding: 10px;
}

.media-pic{
    height: 300px;
    border-radius: 10px;
}

.likes-count{
    color: darkgray;
}

.pic-body{
    margin-top: 5px;
}