<div class="container" align="center">
  <footer class="footer">
    <small>
      Copyright &copy; Instagram API Rails
      by <a href="https://www.linkedin.com/in/pedropmsantos/"> Pedro Paulo Macena Santos </a>
    </small>
  </footer>
</div>